<h1>Edit this article:</h1>
  <form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Enter new article title:</label>
    <input id="title" type="text" name="article[title]" value="<%= @article.title %>"><br>
    <br>
    <textarea id="content" name="article[content]" rows="20" cols="100"> <%= @article.content %> </textarea><br>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>