<h1>Submit an article!</h1>
  <form method="POST" action="/articles">
    <label>Enter article title:</label>
    <input type="text" name="title"><br>
    <br>
    <textarea name="content" rows="20" cols="100">Enter article content here...</textarea><br>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>


